:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --white-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-color: #afb1b8;
}

body.is {
  overflow: hidden;
}

.current {
  color: var(--accent-color);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
}

.header__navigation {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
    padding: 48px 40px;
  }
  .header__navigation.is-open {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .header__navigation {
    align-items: center;
    justify-content: center;
  }
}

.menu-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  transition: color var(--transition);
}

.menu-button:hover,
.menu-button:focus .menu-button__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon--open {
  opacity: 0;
  transform: scale(1) rotate(0) translateY(0);
  transform-origin: center;
  transition: opacity 400ms ease, transform 400ms ease;
}

.menu-button__icon--close {
  opacity: 1;
  transform: scale(1) rotate(0) translateY(0);
  transform-origin: center;
  transition: opacity 400ms ease, transform 400ms ease;
}

.menu-button.is-open .menu-button__icon--close {
  opacity: 0;
}

.menu-button.is-open .menu-button__icon--open {
  opacity: 1;
}

.button {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: var(--shadow);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color var(--transition);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: background-color var(--transition);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: var(--icon-color);
  transition: fill var(--transition);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .subscribtion {
    display: flex;
    justify-content: space-between;
  }
}

.subscribtion__field {
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: var(--white-color);
  transition: border var(--transition);
}

.subscribtion__field:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.subscribtion__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199.98px) {
  .subscribtion__field {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribtion__field {
    width: 358px;
  }
}

.subscribtion__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subscribtion__icon {
  margin-left: 10px;
  align-items: center;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.portfolio__list {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    justify-content: center;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--section-bg-color);
  border-radius: 4px;
  text-align: center;
  color: var(--text-color);
  transition: var(--transition);
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition);
  overflow-y: scroll;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  width: 100%;
  min-height: 581px;
  transition: transform var(--transition);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__button {
  position: absolute;
  z-index: 101;
  top: 14px;
  right: 8px;
  padding: 6px 7px 6px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--hero-text-color);
  cursor: pointer;
}

.modal__icon--close {
  transition: fill var(--transition);
}

.modal:focus-within .modal__icon--close {
  fill: var(--accent-color);
}

.form {
  padding: 40px;
  overflow: hidden;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.form__item {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color);
}

.form__label {
  margin-bottom: 4px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition);
}

.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form__icon .form__input:focus,
.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.comment {
  margin-bottom: 20px;
}

.comment__field {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment__field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: var(--accent-color);
  background-image: url(../img/icons/checked.svg);
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.checkbox__input:focus + .checkbox__label:before,
.checkbox__input:hover + .checkbox__label:before {
  border-color: var(--accent-color);
}

.checkbox__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.checkbox__label a {
  text-decoration: underline;
}

.checkbox__label:before {
  content: '';
  margin-right: 8px;
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--text-color);
  border-radius: 3px;
}

.checkbox__link {
  color: var(--accent-color);
  transition: color var(--transition);
}

.checkbox__link:hover, .checkbox__link:focus {
  color: #147bd0;
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header__logo--web {
  color: var(--accent-color);
}

.header__container {
  position: relative;
  z-index: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .nav {
    align-items: center;
    justify-content: space-between;
  }
}

.header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 84px;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.header__content:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767.98px) {
  .header__content:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__content .current {
    position: relative;
  }
  .header__content .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -34px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header__content .current::after {
    bottom: -32px;
  }
}

.header__text:hover, .header__text:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .header__text {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header__text:hover, .header__text:focus {
    color: var(--accent-color);
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__contacts {
  margin-top: 10px;
  margin-right: 10px;
}

.menu__contacts:last-child {
  border: none;
}

.menu__contacts:last-child .menu__link {
  border: none;
  padding: 0;
}

.menu__link {
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero__container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Header-mobile.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .hero__container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    height: 600px;
    max-width: 1600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Header-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-desktop@2x.jpg);
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.navigation-contacts {
  margin-top: auto;
}

@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    align-items: center;
  }
}

.header__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__item {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (480 - 320)));
    color: var(--accent-color);
  }
  .header__item:nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .header__item:not(:last-child) {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header__item:first-child {
    margin-right: 30px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  transition: color var(--transition), fill var(--transition);
}

.header__link:focus, .header__link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__icon {
  fill: var(--secondary-text-color);
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .header__icon {
    display: none;
  }
}

.features {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 1 * 30px) / 1);
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199.98px) {
  .about {
    display: none;
  }
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__img {
  position: relative;
}

.about__text {
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--section-bg-color);
  padding: 60px 0;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
  flex-basis: calc((100% - 1 * 30px) / 1);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team__title {
  margin-bottom: 30px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--transition);
}

.clients__item:hover {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.clients__link:hover .clients__icon,
.clients__linkk:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--transition);
}

.footer {
  background-color: #2f303a;
}

.footer__logo--light {
  color: var(--white-color);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__content {
  text-align: center;
  padding-top: 60px;
}

.footer__content .logo {
  margin-bottom: 20px;
}

.footer__content:last-child {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__content {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  .footer__content:last-child {
    flex-basis: calc((50% - 1 * 30px) / 1);
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    flex-basis: calc((50% - 45px) / 2);
    text-align: start;
    padding-bottom: 60px;
  }
  .footer__content:not(:first-child) {
    padding-top: 72px;
  }
  .footer__content:last-child {
    flex-basis: calc(50% - 15px);
    margin: 0;
  }
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-color);
  margin-bottom: 8px;
}

.footer__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:first-child {
  margin-bottom: 8px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    display: flex;
    justify-content: start;
  }
}

.footer__socials--icon:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: var(--white-color);
}

.portfolio-product__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-product__item {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-basis: calc((100% - 1 * 30px) / 1);
}

.portfolio-product__item:focus, .portfolio-product__item:hover {
  color: inherit;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-product__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-product__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio-product__link {
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio-product__link:focus, .portfolio-product__link:hover {
  color: inherit;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-product__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-product__thumb img {
  position: relative;
  z-index: -1;
}

.portfolio-product__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--transition);
}

.portfolio-product__link:hover .portfolio-product__overlay {
  transform: translateY(0);
}

.portfolio-product__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding-top: 49px;
  padding-left: 24px;
  color: var(--white-color);
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 767.98px) {
  .portfolio-product__text {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (480 - 320)));
  }
}

.portfolio-product__content {
  flex-grow: 1;
  padding: 20px 24px;
}

.portfolio-product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.portfolio-product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */