:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --white-color: #ffffff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
}

.menu-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus .menu-button__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon--open {
  opacity: 0;
  transform: scale(1) rotate(0) translateY(0);
  transform-origin: center;
  transition: opacity 400ms ease, transform 400ms ease;
}

.menu-button__icon--close {
  opacity: 1;
  transform: scale(1) rotate(0) translateY(0);
  transform-origin: center;
  transition: opacity 400ms ease, transform 400ms ease;
}

.menu-button.is-open .menu-button__icon--close {
  opacity: 0;
}

.menu-button.is-open .menu-button__icon--open {
  opacity: 1;
}

.button {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: var(--shadow);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color var(--transition);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header__logo--web {
  color: var(--accent-color);
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

.header__navigation {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .header__navigation {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
    padding: 48px 40px;
  }
  .header__navigation.is-open {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .header__navigation {
    align-items: center;
    justify-content: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .nav {
    align-items: center;
    justify-content: space-between;
  }
}

.header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 84px;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}

.header__content:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767.98px) {
  .header__content:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header__text:hover, .header__text:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .header__text {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header__text:hover, .header__text:focus {
    color: var(--accent-color);
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__contacts {
  margin-top: 10px;
  margin-right: 10px;
}

.menu__contacts:last-child {
  border: none;
}

.menu__contacts:last-child .menu__link {
  border: none;
  padding: 0;
}

.menu__link {
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero__container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header-mobile.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/header-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/header-desktop@2x.jpg);
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.navigation-contacts {
  margin-top: auto;
}

@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

.header__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__item {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (480 - 320)));
    color: var(--accent-color);
  }
  .header__item:nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .header__item:not(:last-child) {
    margin-top: 32px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__icon {
  fill: var(--secondary-text-color);
  margin-right: 8px;
  transition: fill var(--transition);
}

@media screen and (max-width: 767.98px) {
  .header__icon {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */