.form {
  padding: 40px;
  overflow: hidden;
}

.form__title {
  @include fonts(700, 20px, 1.5);
  color: var(-text-color);
  text-align: center;

  margin-bottom: 12px;
}
.form__item {
  margin-bottom: 10px;

  @include fonts(400, 12px, 1.17, 0.1em);

  color: var(--secondary-text-color);
}
.form__label {
  margin-bottom: 4px;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__input {
  padding: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--transition);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: var(--accent-color);
  }
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  .form__input:focus,
  .form__input:hover + & {
    fill: var(--accent-color);
  }
}
.comment {
  margin-bottom: 20px;
}

.comment__field {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    @include fonts(400, 12px, 1.17, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  margin-bottom: 30px;
}
.checkbox__input {
  &:checked + .checkbox__label:before {
    background-color: var(--accent-color);
    background-image: url(/img/icons/checked.svg);
    background-size: contain;
    border-color: var(--accent-color);
    background-origin: border-box;
  }

  &:focus + .checkbox__label:before,
  &:hover + .checkbox__label:before {
    border-color: var(--accent-color);
  }
}

.checkbox__label {
  @include fonts(400, 12px, 1.17);
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);

  & a {
    text-decoration: underline;
  }

  &:before {
    content: '';
    margin-right: 8px;
    display: block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    border: 2px solid var(--text-color);
    border-radius: 3px;
  }
}
.checkbox__link {
  color: var(--accent-color);
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: #147bd0;
  }
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
