.socials__list {
  @include flex-center;
}
.socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.socials__link {
  @include flex-center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--white-color);

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.socials__icon {
  fill: var(--icon-color);
  transition: fill var(--transition);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--white-color);
  }
}
