.subscribtion {
  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.subscribtion__field {
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: var(--white-color);
  transition: border var(--transition);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: var(--accent-color);
  }

  &::placeholder {
    @include fonts(400, 16px, 1.25);
    color: rgba(255, 255, 255, 0.6);
  }

  @include mq(notDesktop) {
    width: 100%;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 358px;
  }
}

.subscribtion__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subscribtion__icon {
  margin-left: 10px;
  align-items: center;
}
