.logo {
  display: block;
  font-family: 'Raleway';
  @include fonts(700, 24px, 1.17);
}

.header__logo--web {
  color: var(--accent-color);
}

.header__container {
  position: relative;
}
.header__navigation {
  @include mq(mobile-only) {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;

    padding: 48px 40px;
    &.is-open {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.navigation-contacts {
  margin-top: auto;
}

.nav {
  display: flex;
  align-items: center;

  @include mq(mobile-only) {
    justify-content: space-between;
  }
}

.header__list {
  @include fonts(500, 14px, 1.17, 0.02em);
  color: var(--text-color);
}

.header__content {
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.header__text {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mq(mobile-only) {
    @include fonts(500, 40px, 1.17, 0.02em);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header__contacts {
  @include mq(mobile-only) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

.header__item {
  @include mq(mobile-only) {
    @include fonts(500, 34px, 1.17, 0.02em);
    font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (480 - 320)));

    color: var(--accent-color);
    &:nth-child(1) {
      @include fonts(500, 24px, 1.17, 0.02em);
      color: var(--secondary-text-color);
    }
    &:not(:last-child) {
      margin-top: 32px;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header__icon {
  @include mq(mobile-only) {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;

  @include fonts(500, 18px, 1.22, 0.02em);
  color: var(--accent-color);

  @include mq(tablet) {
    display: none;
  }
}
.menu__contacts {
  margin-top: 10px;
  margin-right: 10px;

  &:last-child {
    border: none;
  }
}
.menu__contacts:last-child .menu__link {
  border: none;
  padding: 0;
}

.menu__link {
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
