.hero {
}

.hero__container {
  padding: 120px 60px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__content {
}
.hero__title {
}
.button {
}
.hero__button {
}
